<div class="button-fit">
  <h1 class="margin-h1">Stocks</h1>
  <p class="line"></p>
  <div class="button button-table"><%= link_to 'New', new_stock_path, class: "btn btn-outline-primary"%></div>
  <div class="button button-table"><%= link_to 'Back', root_path, class: "btn btn-outline-primary"%></div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Company</th>
      <th scope="col">Wallet Number</th>
      <th scope="col">Wallet Balance</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each_with_index do |stock, idx| %>
    <tr>
      <th scope="row"><%= idx + 1 %></th>
      <td><%= stock.name %></td>
      <td><%= stock.code %></td>
      <td><%= stock.company %></td>
      <td><%= stock.wallet_account.account_number %></td>
      <td><%= stock.wallet_account.balance %></td>
      <td>
          <div class="button button-table"><%= link_to 'Show', stock_path(stock), class: "btn btn-outline-primary"%></div>  
          <div class="button button-table"><%= link_to 'Edit', edit_stock_path(stock), class: "btn btn-outline-primary"%></div>
          <div class="button button-table"><%= link_to 'Wallet', wallet_path(stock.wallet_account), class: "btn btn-outline-primary"%></div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
