
<div class="button-fit">
  <h1 class="margin-h1">Users</h1>
  <p class="line"></p>
  <div class="button button-table"><%= link_to 'New', new_user_path, class: "btn btn-outline-primary"%></div>
  <div class="button button-table"><%= link_to 'Back', root_path, class: "btn btn-outline-primary"%></div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">Wallet Number</th>
      <th scope="col">Wallet Balance</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, idx| %>
    <tr>
      <th scope="row"><%= idx + 1 %></th>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.wallet_account.account_number %></td>
      <td><%= user.wallet_account.balance %></td>
      <td>
          <div class="button button-table"><%= link_to 'Show', user_path(user), class: "btn btn-outline-primary"%></div>  
          <div class="button button-table"><%= link_to 'Edit', edit_user_path(user), class: "btn btn-outline-primary"%></div>
          <div class="button button-table"><%= link_to 'Wallet', wallet_path(user.wallet_account), class: "btn btn-outline-primary"%></div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
