<h4>
  Adding funds to wallet ID: <%= @wallet_account.id %>
  <br/>
  Current balance: <%= @wallet_account.balance %>
</h3>
<small>Note: Funds will be coming from the bank account</small>
<p>
  <%= form_with model: @wallet_account, url: wallet_deposit_path(id: @wallet_account.id), method: :post, local: true do |form| %>
    <%= form.label 'Amount:' %>
    <%= form.text_field 'amount', value: 0 %>
    <%= form.submit 'Create Transaction' %>
  <% end %>
</p>