<% flash.each do |name, messages| %>
  <% if messages.is_a?(String) %>
    <p class="alert alert-success"><%= messages %></p>
  <% elsif messages.is_a?(Array) && messages.size == 1 %>
    <p class="alert alert-danger"><%= messages.first %></p>
  <% else %>
    <div class="alert alert-danger">
      <ul>
      <% messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<h3>
  Transfer funds from wallet number: <%= @account.account_number %>
  <br/>
  Current balance: <%= @account.balance %>
</h3>
<p>
  <%= form_with model: @account, url: wallet_transfer_path(@account.id), method: :post, local: true do |form| %>
    <%= form.label "To Account (Wallet Number):" %>
    <%= form.number_field "account_number" %>
    <%= form.label "Amount:" %>
    <%= form.text_field "amount", value: 0 %>
    <%= form.submit "Create Transaction" %>
  <% end %>
</p>
<%= link_to 'Back', wallet_path(@account.owner.wallet_account) %>